aioredis==1.0.0
amqp==2.3.2
appdirs==1.4.3
asgiref==2.3.2
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==18.2.0
audioread==2.1.6
autobahn==18.11.2
Automat==0.7.0
backcall==0.1.0
beautifulsoup4==4.6.3
billiard==3.5.0.5
celery==4.1.1
certifi==2018.11.29
cffi==1.11.5
channels==2.0.2
channels-redis==2.1.1
chardet==3.0.4
constantly==15.1.0
cryptography==2.4.2
daphne==2.0.4
decorator==4.3.0
defusedxml==0.5.0
Django==2.0.9
django-allauth==0.36.0
django-auth-ldap==1.7.0
django-cleanup==2.1.0
django-cors-headers==2.1.0
django-dynamic-preferences==1.5.1
django-environ==0.4.5
django-filter==1.1.0
django-redis==4.5.0
django-rest-auth==0.9.3
django-taggit==0.22.2
django-versatileimagefield==1.9
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
ffmpeg-python==0.1.10
future==0.17.1
google-api-python-client==1.6.7
hiredis==0.3.0
httplib2==0.12.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.13.1
kombu==4.2.2
Markdown==2.6.11
msgpack==0.5.6
musicbrainzngs==0.6
mutagen==1.39
oauth2client==3.0.0
oauthlib==2.1.0
olefile==0.46
packaging==16.8
parso==0.3.1
pendulum==2.0.4
persisting-theory==0.2.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==4.3.0
prompt-toolkit==1.0.15
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
pyacoustid==1.1.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
Pygments==2.3.0
PyHamcrest==1.9.0
PyJWT==1.7.1
PyMemoize==1.0.3
pyparsing==2.2.0
python-dateutil==2.7.5
python-ldap==3.1.0
python-magic==0.4.15
python3-openid==3.1.0
pytz==2017.3
pytzdata==2018.7
raven==6.9.0
redis==2.10.6
requests==2.21.0
requests-http-signature==0.1.0
requests-oauthlib==1.0.0
rsa==4.0
simplegeneric==0.8.1
six==1.12.0
traitlets==4.3.2
Twisted==18.9.0
txaio==18.8.1
uritemplate==3.0.0
urllib3==1.24.1
vine==1.1.4
wcwidth==0.1.7
whitenoise==3.3.1
youtube-dl==2018.12.9
zope.interface==4.6.0
